<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Latihan 1</title>

    <style>
      body {
        margin: 5%;
        font-family: sans-serif;
      }

      .active {
        background: salmon;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <header>
        <!-- attribute binding menggunakan v-bind:(attribute) atau :(attribute) -->
        <img :src="image" width="80" />

        <!-- menjalankan ternary operator -->
        <h1>Haloo {{ isActive ? name : age }}</h1>

        <h1 v-text="isActive"></h1>
        <h1 v-html="link"></h1>

        <!-- menjalankan method  -->
        <h1>{{ number }}</h1>

        <!-- events onclick pada vue -->
        <button v-on:click="handleClick">Tambah</button>

        <p>{{ age }}</p>
        <p>Framework progressive dari javascript untuk bagian frontend</p>
        <p>Bilangan ini adalah bilangan {{ oddEven }}</p>

        <!-- class binding exercise -->
        <button
          :class="{active: menu === 'home'}"
          v-on:click="changeMenu('home')"
        >
          Home
        </button>
        <button
          :class="{active: menu === 'about'}"
          v-on:click="changeMenu('about')"
        >
          About
        </button>
        <button
          :class="{active: menu === 'blog'}"
          v-on:click="changeMenu('blog')"
        >
          Blog
        </button>

        <!-- two way data binding -->
        <input type="text" v-model="name" />

        <!-- perulangan v-for -->
        <ul>
          <li v-for="k in courses">{{ k }}</li>
        </ul>

        <ul>
          <li v-for="item in oddNumber(numArray)">{{ item }}</li>
        </ul>
      </header>

      <footer id="footer">
        <p>copyright Kronzii88</p>
      </footer>
    </div>
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <script>
      const member = {
        name: "Ezarofi",
        age: 23,
        isActive: true,
        qty: 5,
        number: 2,
        link: '<a href="#">Kronzii88</a>',
        image: "https://vuejs.org/images/logo.svg",
        menu: "home",
        courses: ["golang", "javascript", "nodejs"],
        numArray: [1, 2, 3, 4, 5, 6],
      };

      const vm = new Vue({
        el: "#app",
        data: member,
        methods: {
          getName: function () {
            return `Hello ${this.name}`;
          },
          updateName: function (newName) {
            this.name = newName;
            return this.getName();
          },
          handleClick: function () {
            return this.number++;
          },
          changeMenu: function (choose) {
            this.menu = choose;
          },
          oddNumber: function (numData) {
            return numData.filter((i) => {
              return i % 2 == 0;
            });
          },
        },
        computed: {
          totalBayar: function () {
            return this.qty * 20000;
          },
          oddEven: function () {
            return this.number % 2 === 0 ? "Genap" : "Ganjil";
          },
        },
      });
    </script>
  </body>
</html>
